doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Email Template tool
    link(rel="stylesheet", href="/styles/index.css")
  body
    header
        img(src="/assets/pug.svg", width="50px" alt="PUG logo").logo
        h1 Email Template tool
    main
        h2 Current templates:
        table
            thead
                tr
                    th Created
                    th Template
                    th CSS
                    th Data
                    th Link
            tbody
                each template in templates
                    tr
                        td #{template.fileDateCreation}
                        td
                            p #{template.name}
                        td
                            if template.hasCss
                                span ✅
                        td
                            if template.hasData
                                span ✅
                        td
                            a(href=`${template.name}.html`) View page